@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

*{
	font-family: 'Baloo Paaji 2', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	background: #f5f5f5;
}

.top_navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #042331;
	box-shadow: 1px 0 2px rgba(0,0,0,0.125);
	display: flex;
	align-items: center;
}

.top_navbar .logo{
	width: 250px;
	padding: 0 25px;
	border-right: 1px solid #f5f5f5;
}

.top_navbar .menu{
	width: calc(100% - 250px);
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top_navbar .hamburger{
	font-size: 25px;
	cursor: pointer;
	color: #fff;
}

.top_navbar .hamburger:hover{
	color: #007dc3;
}

/* Now I have determined what the sidebar will look like for a responsive device */
.hover_collapse .sidebar{
	width: 70px;
}

.hover_collapse .sidebar ul li a .text{
	display: none;
}

.sidebar{
	position: fixed;
	top: 60px;
	left: 0;
	width: 220px;
	height: 100%;
	background: #042331;
}

.sidebar ul li a{
	display: block;
	padding: 16px 25px;
	border-bottom: 1px solid #03374e;
	color: #0e94d4;
}

.sidebar ul li a .icon{
	font-size: 14px;
    color: white;
	vertical-align: middle;
}

.sidebar ul li a .text{
	margin-left: 19px;
	color: #fff;
    font-family: sans-serif;
    font-size: 14px;
	letter-spacing: 1px;
}

.sidebar ul li a:hover{
	background: #0e94d4;
	color: #fff;
}

.content-area{
	margin-top: 80px;
	margin-left: 190px;
	padding: 15px;
  z-index:1;

}

.content-area h2{
	/*font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 10px;*/
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.content-area .cards .card{
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: inline-flex;
}
.content-area .cards .card col-md-4{
	width: 33px ;
	padding: 0 15px;
}
span{
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
	
}

.btn {
	background-color: #042331;
	color: #fff;
	border: none;
	-webkit-border-radius: 20;
	-moz-border-radius: 8;
	border-radius: 0.5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding: 0.725rem 1.25rem 0.725rem 1.25rem;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
	text-decoration: none;		
} 

.BasicInfo {
    font-size: 30px;
    padding: 20px 0px;
    border: none;
    background: #fff;
    width: 40%;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    --webkit-appearance: none;
    margin-left: 25px;
}

/*--------------------------------------*/
.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .butt {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 0px;
    width: 90px;
    height: 50px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #042331;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .butt:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .butt:hover span,
  .wrapper .butt:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
/* End sama css*/



/*upload Contract*/
.cta {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #696a86;
    border: 2px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 370px;
    color: #fff;
    outline: none;
    cursor: pointer;
    z-index: 11;
}

.butTenant{
/* Frame 1 */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 34px 38px;
position: absolute;
width: 203px;
height: 176px;
left: center;
top: center;
background: #E9EBFF;
border: 2px solid #025BE1;
border-radius: 6px;
}

.textProp {
    margin-left: 20px;
    color: rgba(0,118,184, 65%);;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
    font-family:"Poppins",sans-serif;
    position: absolute;
    left: 100px;
    /*transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;*/
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 10px 30px 40px;
    z-index:2;
}

.buttonx{
    display: block; 
    margin:0 0 20px auto; 
    background-color: transparent; 
    font-size: 30px; 
    color: #c5c5c5; 
    border: none; 
    outline: none; 
    cursor: pointer;
}

.show-hide {
    display: block;
}

.expand {
    transform: translateY(300px);
}

.textProp h1 {
    text-align: center;
}
.textProp h2 {
    margin: 0;
}
.textProp #multi-step-form-container {
    margin-top: 5rem;
}
.textProp .text-center {
    text-align: center;
}

.textProp .mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.textProp .pl-0 {
    padding-left: 0;
}
.textProp .button {
    padding: 0.7rem 1.5rem;
    border: 1px solid  #03374e;
    background-color: #03374e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.textProp .submit-btn {
    border: 1px solid #03374e;
    background-color:#03374e;
}
.textProp .mt-3 {
    margin-top: 2rem;
}
.textProp .d-none {
    display: none;
}
.textProp .form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.textProp .font-normal {
    font-weight: normal;
}
.textProp ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.textProp  .form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: justify;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.textProp ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #03374e!important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #03374e !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #03374e!important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}






@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.textProp .card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.textProp .drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 9px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.textProp .btn {
  text-decoration: none;
  background-color: #03374e;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 10px;

}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.textProp .form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

/*popap for contract*/
label {
    font-size: 12.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
  }
.floating-label input,select {
    font-size: 16px;
    /*padding: 20px 0px;*/
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    --webkit-appearance: none;
  }
  
  .floating-label input:focus , select:focus{
    border-bottom: solid 1px rgb(0, 154, 197);
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(rgb(0, 81, 154), 0.45);
  }

  .floating-label {
    position: relative;
    margin-bottom: 10px;

  }
  .floating-label label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  select:not(:placeholder-shown) ,input:not(:placeholder-shown) {
    padding: 28px 0px 0px 0px;
  }
 
  select:not(:placeholder-shown) + label ,input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: 0.7;
  }

  /*------------Delete Modal style ----------------*/
  /* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fff;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }